<div class="my-3">
    <h2 class="mx-4">From Event</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card mx-4">
                <div class="card-header">Add Vedio</div>
                    <div class="card-body">
                        <button #addBtn class="btn btn-primary">
                            Add
                        </button>
                    </div>
                
            </div>
        </div>
         <div class="col-md-4">
            <div class="card mx-4">
                <div class="card-header">List</div>
                    <div class="card-body">
                        <ul id="elContainer">
                            <!-- <li>Video 1</li>
                            <li>Video 2</li>
                            <li>Video 3</li> -->
                        </ul>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mx-4">
            <div class="card-header">List</div>
                <div class="card-body">
                    <ul id="elContainer1">
                        <!-- <li>Video 1</li>
                        <li>Video 2</li>
                        <li>Video 3</li> -->
                    </ul>
            
        </div>
    </div>
</div>
</div>