<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-5 mb-6">
                <div class="row">
                    <div class="col-md-3">
                        <div routerLink="from-event" class="card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                            <h3 >From Event</h3>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div routerLink="interval" class="card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                            <h3 >Interval</h3>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div routerLink="of-from" class="card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                            <h3 >Of and From</h3>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div routerLink="of-array" class="card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                            <h3 >To Array</h3>
                        </div>
                    </div>
                  
                </div>          
            </div>
        </ul>
    </div>
</div>

<div class="row mx-2">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-5 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="custom" class="my-2 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Custom Observable</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="map" class="my-2 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Map</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="pluck" class="my-2 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Pluck</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="filter" class="my-2 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Filter</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>
   </div>
</div>



<div class="row mx-2">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-5 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="tap" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Tap</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="take" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Take, TakeUntil & TakeLast</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="retry" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Retry, RetryWhen  Scan and Delay</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="debounce-time" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >DebounceTime & DistinctUntilChanged</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>
   </div>
</div>


<div class="row align">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-5 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="subject" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 bgColor">
                        <h3>Subject and Behavior Subject</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="replay-subject" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Replay - Subject</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="async-subject" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Async - Subject</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="concat" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Concat</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>
   </div>
</div>

<div class="row align">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-5 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="merge" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 bgColor">
                        <h3>Merge</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="mergemap" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Merge - Map</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="concat-map" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Concat - Map</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="concat-map2" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Concat - Map2</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>
   </div>
</div>

<div class="row align">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-4 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="switch-map" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 bgColor">
                        <h3>Switch - Map</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="switchmap2" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Switch - Map2</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="exhaustmap" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Exhaust - Map</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div routerLink="share-replay" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Share - Replay</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>
   </div>
</div>

<div class="row align">
    <div class="col-md-12">
        <ul class="list">
            <div class="container mt-4 mb-3">

            <div class="row">
                <div class="col-md-3">
                    <div routerLink="combinelatest" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 bgColor">
                        <h3>Combine-Latest</h3>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div routerLink="zip-forkjoin" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>ZIP & ForkJoin</h3>
                    </div>
                </div>
               <div class="col-md-3">
                    <div routerLink="catchthrowerror" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3 >Catch Error & Throw Error</h3>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div routerLink="share-replay" class="my-4 card d-flex align-items-center justify-content-center h-100 p-3 mb-2 bgColor">
                        <h3>Share - Replay</h3>
                    </div>
                </div> -->
            </div>
        </div>
    </ul>
   </div>
</div>


