<div class="my-3 mx-4">
    <h2 class="mx-4">Combine Latest & with Latest Form</h2>
    <br>
  
    <div class="row">
      <div class="col-md-3 pr-4">
        <strong>Names</strong>
        <hr>
        <select #name class="form-control">
          <option *ngFor="let item of nameSource" value="{{item}}">{{item}}</option>
        </select>
        <br>
        <br>
      </div>
      <div class="col-md-9 ml-auto">
        <strong>CombineLatest</strong>
        <hr>
        <div class="wrapper" id="elContainer">
          <!-- <div class="red">Anna</div>
               <div class="green">Shikha</div>
               <div class="blue">Sharma</div> -->
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3 pr-4">
        <strong>Colors</strong>
        <hr>
        <select #color class="form-control">
          <option *ngFor="let item of colorSource" value="{{item}}">{{item}}</option>
        </select>
        <br>
        <br>
      </div>
      <div class="col-md-9 ml-auto">
        <strong>withLatestFrom</strong>
        <hr>
        <div class="wrapper" id="elContainer2">
          
        </div>
      </div>
    </div>
  </div>
  