<div class="iphone-x">
    <i>Speaker</i>
    <b>Camera</b>
    <s>10:24</s>
    
    <span>Left action button</span>
    <span>Right action button</span>
  </div>

  <div class="notification" id="elContainer">
    <!-- <div class="item">
        <div class="header">
            <div class="app">
                <img src="" width="20" alt="">Facebook
            </div>
            <div class="time">4 Second Ago.</div>
        </div>
        <div class="body">
            <img src="" alt="">
            <strong>Alax Johnson</strong>
            <p>Connected on your #Uxtrendz Post. Awesome post thankx....</p>
        </div>
    </div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div> -->
  </div>
